# Compiled files
*.class
/build
/dist
/target
/examples/target

# JUnit output
/TEST*.xml

# Emacs temp files
*~

# Sigma temp files
/EBatchConfig.txt

.idea/
.ivy
lib
/nbproject/private/
/MANIFEST.MF
/test.result.xml
.DS_Store
/file.bin
