# Compiled files
*.class
/build
/dist
/target
/examples/target

# Emacs temp files
*~

# Sigma temp files
/EBatchConfig.txt

.idea/
.ivy
lib
/nbproject/private/
/MANIFEST.MF
.DS_Store
/file.bin
/docker/sumo-ci/seccomp.json
/docker/sumo-ci/sigmakee/
/docker/sumo-ci/sigmakee-runtime/
/prover_out.txt
/plugins/eclipse/SigmaEditor/.project