<configuration>
  <preference name="adminBrowserLimit" value="200" />
  <preference name="baseDir" value="/home/theuser/.sigmakee" />
  <preference name="cache" value="yes" />
  <preference name="cacheDisjoint" value="true"/>
  <preference name="cwa" value="false"/>
  <preference name="eproverExec" value="/home/theuser/E/bin/eprover" />
  <preference name="graphDir" value="/home/theuser/.sigmakee/graph" />
  <preference name="graphVizExec" value="/usr/bin/dot" />
  <preference name="hostname" value="localhost" />
  <preference name="https" value="false" />
  <preference name="isAws" value="false"/>
  <preference name="inferenceTestDir" value="/home/theuser/.sigmakee/KBs/tests" />
  <preference name="jeditExec" value="/usr/share/jedit/jedit" />
  <preference name="kbDir" value="/home/theuser/.sigmakee/KBs" />
  <preference name="loadFresh" value="false" />
  <preference name="loadLexicons" value="true"/>
  <preference name="leoExec" value="/home/theuser/Programs/Leo-III/bin/leo3" />
  <preference name="maxPredicateArity" value="7"/>
  <preference name="port" value="8080" />
  <preference name="showCachedFormulas" value="no" />
  <preference name="smtpEmailAddress" value=""/>
  <preference name="smtpEmailUser" value=""/>
  <preference name="smtpEmailPassword" value=""/>
  <preference name="smtpEmailServer" value=""/>
  <preference name="sumoDir" value="/home/theuser/workspace/sumo" />
  <preference name="systemsDir" value="/home/theuser" />
  <preference name="termFormats" value="no" />
  <preference name="tptpExec" value="/home/theuser/workspace/TPTP4X/tptp4X"/>
  <preference name="typePrefix" value="yes" />
  <preference name="userBrowserLimit" value="25" />
  <preference name="vampireExec" value="/home/theuser/Programs/vampire/build/vampire" />
  <preference name="verbnetDir" value=""/>
  <preference name="ollamaHost" value="http://127.0.0.1:11434"/>
  <kb name="SUMO" >
    <constituent filename="english_format.kif" />
    <constituent filename="domainEnglishFormat.kif" />
    <constituent filename="ArabicCulture.kif" />
    <constituent filename="Anatomy.kif" />
    <constituent filename="arteries.kif" />
    <constituent filename="Biography.kif" />
    <constituent filename="Cars.kif" />
    <constituent filename="Catalog.kif" />
    <constituent filename="Communications.kif" />
    <constituent filename="ComputerInput.kif" />
    <constituent filename="ComputingBrands.kif" />
    <constituent filename="CountriesAndRegions.kif" />
    <constituent filename="Dining.kif" />
    <constituent filename="Economy.kif" />
    <constituent filename="emotion.kif" />
    <constituent filename="engineering.kif" />
    <constituent filename="Facebook.kif" />
    <constituent filename="FinancialOntology.kif" />
    <constituent filename="Food.kif" />
    <constituent filename="Geography.kif" />
    <constituent filename="Government.kif" />
    <constituent filename="Hotel.kif" />
    <constituent filename="Justice.kif" />
    <constituent filename="Languages.kif" />
    <constituent filename="Law.kif" />
    <constituent filename="Media.kif" />
    <constituent filename="Medicine.kif" />
    <constituent filename="Merge.kif" />
    <constituent filename="Mid-level-ontology.kif" />
    <constituent filename="MilitaryDevices.kif" />
    <constituent filename="Military.kif" />
    <constituent filename="MilitaryPersons.kif" />
    <constituent filename="MilitaryProcesses.kif" />
    <constituent filename="Music.kif" />
    <constituent filename="development/Muscles.kif" />
    <constituent filename="naics.kif" />
    <constituent filename="People.kif" />
    <constituent filename="pictureList.kif" />
    <constituent filename="pictureList-ImageNet.kif" />
    <constituent filename="QoSontology.kif" />
    <constituent filename="Sports.kif" />
    <constituent filename="TransnationalIssues.kif" />
    <constituent filename="Transportation.kif" />
    <constituent filename="TransportDetail.kif" />
    <constituent filename="UXExperimentalTerms.kif" />
    <constituent filename="VirusProteinAndCellPart.kif" />
    <constituent filename="Weather.kif" />
    <constituent filename="WMD.kif" />
  </kb>
</configuration>
