<configuration >
  <preference name="sumokbname" value="SUMO" />
  <preference name="testOutputDir" value="~/.sigmakee/KBs/tests" />
  <preference name="TPTPDisplay" value="no" />
  <preference name="inferenceEngine" value="~/Programs/E/PROVER/e_ltb_runner" />
  <preference name="inferenceTestDir" value="~/.sigmakee/KBs/tests" />
  <preference name="baseDir" value="/home/theuser/.sigmakee" />
  <preference name="hostname" value="localhost" />
  <preference name="logLevel" value="warning" />
  <preference name="systemsDir" value="~/workspace/sigma/sigma" />
  <preference name="userBrowserLimit" value="25" />
  <preference name="adminBrowserLimit" value="200" />
  <preference name="SemRewrite" value="~/.sigmakee/KBs/WordNetMappings/SemRewrite.txt" />
  <preference name="typePrefix" value="yes" />
  <preference name="graphDir" value="graph" />
  <preference name="graphWidth" value="600" />
  <preference name="TPTP" value="yes" />
  <preference name="cache" value="yes" />
  <preference name="editorCommand" value="" />
  <preference name="graphVizDir" value="/usr/bin" />
  <preference name="kbDir" value="~/.sigmakee/KBs" />
  <preference name="loadCELT" value="no" />
  <preference name="celtdir" value="" />
  <preference name="lineNumberCommand" value="" />
  <preference name="prolog" value="" />
  <preference name="port" value="8080" />
  <preference name="tptpHomeDir" value="~/workspace/sigma/sigma" />
  <preference name="showcached" value="no" />
  <preference name="leoExecutable" value="" />
  <preference name="holdsPrefix" value="no" />
  <preference name="logDir" value="~/.sigmakee/logs" />
  <kb name="SUMO" >
    <constituent filename="english_format.kif" />
    <constituent filename="domainEnglishFormat.kif" />
    <constituent filename="ArabicCulture.kif" />
    <constituent filename="Biography.kif" />
    <constituent filename="Cars.kif" />
    <constituent filename="Catalog.kif" />
    <constituent filename="Communications.kif" />
    <constituent filename="CountriesAndRegions.kif" />
    <constituent filename="Dining.kif" />
    <constituent filename="Economy.kif" />
    <constituent filename="engineering.kif" />
    <constituent filename="FinancialOntology.kif" />
    <constituent filename="Food.kif" />
    <constituent filename="Geography.kif" />
    <constituent filename="Government.kif" />
    <constituent filename="Hotel.kif" />
    <constituent filename="Justice.kif" />
    <constituent filename="Languages.kif" />
    <constituent filename="Law.kif" />
    <constituent filename="Media.kif" />
    <constituent filename="Merge.kif" />
    <constituent filename="Mid-level-ontology.kif" />
    <constituent filename="MilitaryDevices.kif" />
    <constituent filename="Military.kif" />
    <constituent filename="MilitaryPersons.kif" />
    <constituent filename="MilitaryProcesses.kif" />
    <constituent filename="Music.kif" />
    <constituent filename="naics.kif" />
    <constituent filename="People.kif" />
    <constituent filename="pictureList.kif" />
    <constituent filename="pictureList-ImageNet.kif" />
    <constituent filename="QoSontology.kif" />
    <constituent filename="Sports.kif" />
    <constituent filename="TransnationalIssues.kif" />
    <constituent filename="Transportation.kif" />
    <constituent filename="TransportDetail.kif" />
    <constituent filename="UXExperimentalTerms.kif" />
    <constituent filename="VirusProteinAndCellPart.kif" />
    <constituent filename="Weather.kif" />
    <constituent filename="WMD.kif" />
  </kb>
</configuration>
