<configuration >
  <preference value="/usr/share/sigma" name="baseDir" />
  <preference value="/usr/share/sigma/KBs" name="kbDir" />
  <preference value="/usr/share/sigma/inference/kif-linux" name="inferenceEngine" />
  <preference value="/usr/share/sigma/KBs/tests" name="inferenceTestDir" />
  <preference value="/var/lib/tomcat7/webapps/sigma/tests" name="testOutputDir" />
  <preference value="yes" name="typePrefix" />
  <preference value="no" name="holdsPrefix" />
  <preference value="yes" name="cache" />
  <preference value="yes" name="TPTP" />
  <preference value="" name="prolog" />
  <preference value="" name="celtdir" />
  <preference value="yes" name="showcached" />
  <preference value="8080" name="port" />
  <preference value="no" name="loadCELT" />
  <preference value="" name="lineNumberCommand" />
  <preference value="" name="editorCommand" />
  <preference value="localhost" name="hostname" />
  <preference value="SUMO" name="sumokbname" />
  <kb name="SUMO" >
    <constituent filename="/usr/share/sigma/KBs/Merge.kif" />
    <constituent filename="/usr/share/sigma/KBs/english_format.kif" />
  </kb>
</configuration>
