<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.editors">
      <editor
            name="Sigma Rule Editor"
            extensions="txt"
            icon="icons/sample.gif"
            contributorClass="org.eclipse.ui.texteditor.BasicTextEditorActionContributor"
            class="com.ipsoft.sigma.editor.SigmaEditor"
            id="sigmaeditor.editors.RuleEditor">
      </editor>
   </extension>

</plugin>
