# This workflow will build a Java project with Ant
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-java-with-ant

name: Java CI

on:
  push:
    branches: [ "master", "main" ]
  pull_request:
    branches: [ "master", "main" ]

env:
  DEFAULT_DOCKER_ACCOUNT: apease

jobs:
  build:
    runs-on: ubuntu-latest
    container:
      image: apease/sigma-ci:latest
    steps:
      - name: checkout sigmakee
        uses: actions/checkout@v3
        with:
          path: sigmakee

      - name: checkout TPTP-ANTLR
        uses: actions/checkout@v3
        with:
          repository: 'ontologyportal/TPTP-ANTLR'
          path: TPTP-ANTLR

      - name: checkout SigmaUtils
        uses: actions/checkout@v3
        with:
          repository: 'ontologyportal/SigmaUtils'
          path: SigmaUtils

      - name: checkout sumo
        uses: actions/checkout@v3
        with:
          repository: 'ontologyportal/sumo'
          path: sumo

      - name: Setup SigmaKEE
        env:
          SIGMA_HOME: ${{ github.workspace }}/sigmakee-runtime
          SIGMA_SRC: ${{ github.workspace }}/sigmakee
          ONTOLOGYPORTAL_GIT: ${{ github.workspace }}
        working-directory: ${{ github.workspace }}
        run: |
          echo "SIGMA_HOME: $SIGMA_HOME"
          echo "SIGMA_SRC: $SIGMA_SRC"
          echo "ONTOLOGYPORTAL_GIT: $ONTOLOGYPORTAL_GIT"
          mkdir -p $SIGMA_HOME/KBs/WordNetMappings
          cp $SIGMA_SRC/config.xml $SIGMA_HOME/KBs
          cp -R $ONTOLOGYPORTAL_GIT/sumo/* $SIGMA_HOME/KBs
          cp /opt/WordNet-3.0/dict/* $SIGMA_HOME/KBs/WordNetMappings/
          sed -i "s|/home/theuser/.sigmakee|$SIGMA_HOME|g" $SIGMA_HOME/KBs/config.xml
          sed -i "s|/home/theuser/workspace/sumo|$ONTOLOGYPORTAL_GIT/sumo|g" $SIGMA_HOME/KBs/config.xml
          sed -i "s|/home/theuser/E/bin/e_ltb_runner|/usr/local/bin/e_ltb_runner|g" $SIGMA_HOME/KBs/config.xml

      - name: Build with Ant
        env:
          SIGMA_HOME: ${{ github.workspace }}/sigmakee-runtime
          SIGMA_SRC: ${{ github.workspace }}/sigmakee
          ONTOLOGYPORTAL_GIT: ${{ github.workspace }}
        run: ant -noinput -buildfile build.xml
        working-directory: ./sigmakee

      - name: Test SigmaKEE
        env:
          SIGMA_HOME: ${{ github.workspace }}/sigmakee-runtime
          SIGMA_SRC: ${{ github.workspace }}/sigmakee
          ONTOLOGYPORTAL_GIT: ${{ github.workspace }}
        working-directory: ./sigmakee
        run: |
          sed -i "s|/home/apease/.sigmakee|$SIGMA_HOME|g" $SIGMA_SRC/test/unit/java/resources/config_topOnly.xml
          sed -i "s|/home/apease/workspace/sumo|$ONTOLOGYPORTAL_GIT/sumo|g" $SIGMA_SRC/test/unit/java/resources/config_topOnly.xml
          sed -i "s|/home/apease/E/bin/e_ltb_runner|/usr/local/bin/e_ltb_runner|g" $SIGMA_SRC/test/unit/java/resources/config_topOnly.xml
          java  -Xmx8g -classpath $SIGMA_SRC/build/sigmakee.jar:$SIGMA_SRC/build/lib/* org.junit.runner.JUnitCore com.articulate.sigma.UnitTestSuite

      - name: Upload sigmakee jars
        uses: actions/upload-artifact@v3
        with:
          path: |
            ./sigmakee/build/lib/*.jar
            ./sigmakee/build/sigmakee.jar
            ./sigmakee/config.xml
            ./sigmakee-runtime

  build-sumo-ci:
    runs-on: ubuntu-latest
    needs: build
    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Login to Docker Hub
        if: github.event_name == 'push'
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2

      - name: Download artifact
        uses: actions/download-artifact@v3
        with:
          name: artifact

      - name: Setup SigmaKEE
        run: |
          sed -i "s|/home/theuser/.sigmakee|/root/sigmakee-runtime|g" ./sigmakee/config.xml
          sed -i "s|/home/theuser/workspace/vampire/vampire|/usr/local/bin/vampire|g" ./sigmakee/config.xml
          cp ./sigmakee/config.xml ./sigmakee-runtime/KBs

      - name: Set image account name
        env:
          DOCKER_ACCOUNT: ${{ secrets.DOCKERHUB_USERNAME }}
        run: |
          echo "IMAGE_ACCOUNT=${DOCKER_ACCOUNT:-$DEFAULT_DOCKER_ACCOUNT}" >> $GITHUB_ENV

      - name: Build and push
        uses: docker/build-push-action@v4
        with:
          context: .
          file: docker/sumo-ci/Dockerfile
          push: ${{ github.event_name == 'push' }}
          tags: ${{ env.IMAGE_ACCOUNT }}/sumo-ci:latest
          cache-from: type=gha
          cache-to: type=gha,mode=max
